<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Vue Demo</title>
	<style>
		.red {
			color: red;
		}

		.green {
			color: green;
		}
	</style>
</head>

<body>
	<div id="app">
		<!-- This div is the container for the vue app. 
        It has to attach to an HTML element. it will do all of its updating to the children  of that element. By convention it is called app -->

		<!-- output -->
		<h1 v-bind:title="title">{{ message }}</h1>
		<p v-if="seen">Now you can see me</p>

		<input v-model="message" />

		<!-- onclick of this button, call the funciton reverseMessage -->
		<button v-on:click="reverseMessage">Reverse Message</button>
		<ol>
			<!-- <todo-item></todo-item> -->
			<!-- v-bind:todo binds it and sends it to props -->
			<!-- v-bind:key="item.id" tells the component about the id attribute of the todos data-->
			<todo-item v-for="item in todos" v-bind:todo="item" v-bind:key="item.id">
				<!-- <li v-for="todo in todos"> -->
				<!-- if done = true, style in red -->
				<!-- <span v-bind:class="todo.done ? 'red' : 'green'">{{ todo.text }}</span> -->
			</todo-item>
			<!-- </li> -->
		</ol>
	</div>
	<!-- This will call in the VUE framework. This is the simplest method -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script src="script.js"></script>
</body>

</html>