<form action="/contacts" method="POST">
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <div class="form-group">
    <label>How can we help?</label>
    <textarea class="form-control" name="enquiry"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Submit Contact</button>
  </div>
</form>