<form action="/contacts" method="POST">
  <div>
    <label>Email</label>
    <input type="email" name="email">
  </div>
  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>How can we help?</label>
    <textarea name="enquiry"></textarea>
  </div>
  <div>
    <button>Submit Contact</button>
  </div>
</form>