<h1>All Contacts</h1>
<ul>
  <% for (contact of contacts) { %>
  <li><b><%= contact.name %></b> (<%= contact.email %>)</li>
  <% if (contact.enquiry) { %>
  <li style="margin-left: 2rem;">Enquiry: <%= contact.enquiry %></li>
  <% } %>
  <% } %>
</ul>